<div class="product-box">
  <div class="row">
    <div class="col-xs-4 col-md-3">
    <aside >
      <div class="well">
        <h4>Search</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <a href="#" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            </span>
        </div>
      </div>
      <div class="well">
        <h4>Filter</h4>
        <hr>
        <h4><small class="glyphicon glyphicon-tag"></small> Category</h4>
        <div class="list-group">

            <a href="#/posts?category=javascript" class="list-group-item ng-binding ng-scope" ng-class="{active: isSelected(category.text,'category')}" ng-repeat="category in categories ">
              <span class="badge ng-binding">6</span>
              JavaScript
            </a>

          </div>
      </div>
      </aside>
    </div>
    <div class="col-xs-14 col-sm-6 col-md-9">
      <section>

        <h1 class="page-header">Display Products</h1>
        <div class="row">
          <div class="col-sm-6 col-md-3 product-container" ng-repeat="prod in products">
            <div class="thumbnail">
              <img src=" " alt="..." class="imgBox">
              <div class="caption">
                <p class="name-prod">{{prod.name}}</p>
                <p class="brand-prod">{{prod.brand}}</p>
                <p class="price-prod"> $ {{prod.price}}</p>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>

<!-- <div class="row">


</div> -->